.squares{
  height: 400px;
  width: 400px;
  border: 5px solid indigo;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tile {
  border: 5px dashed indigo;
  height: 190px;
  width:190px;
  border-radius:50%;
    overflow:hidden;
    border-radius:10%;
}
#purple{
  background: purple;
}
#red{
  background: red;
}#green{
  background: green;
}#tan{
  background: tan;

}
  /* animation:bounce 3s linear infinite; */

p {
  font-size: 20px;
  font-style: normal;
}
